<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anand.mobileorganbank">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".donor"
            android:label="Donor"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.MainActivity" />
        </activity>
        <activity
            android:name=".recipient"
            android:label="Recipient"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.MainActivity" />
        </activity>
        <activity
            android:name=".abtus"
            android:label="About Us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.MainActivity" />
        </activity>
        <activity
            android:name=".register"
            android:label="Registration"
            android:parentActivityName=".donor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.donor" />
        </activity>
        <activity
            android:name=".login"
            android:label="Login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.MainActivity" />
        </activity>
        <activity
            android:name=".Video"
            android:label="Please Donate"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.MainActivity" />
        </activity>
        <activity
            android:name=".listing"
            android:label="Heart"
            android:parentActivityName=".login"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.login" />
        </activity>
        <activity
            android:name=".availability"
            android:label="@string/title_activity_availability"
            android:parentActivityName=".recipient"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.recipient" />
        </activity>
        <activity
            android:name=".listing2"
            android:label="Kidney"
            android:parentActivityName=".recipient"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.recipient" />
        </activity>
        <activity
            android:name=".listing3"
            android:label="Eyes"
            android:parentActivityName=".recipient"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.recipient" />
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".login"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.login" />
        </activity>



        <activity
            android:name=".updation"
            android:label="@string/title_activity_updation"
            android:parentActivityName=".profile"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anand.mobileorganbank.profile" />
        </activity>
    </application>

</manifest>
